// Background Color
$bg-1: #ffffff;
$bg-2: #fafafa;
$bg-3: #fbf9f9;
$bg-4: #f9f9f9;
$bg-5: #e1e1e1;
$bg-6: #ff4612;
$bg-7: #ef2853;
$bg-8: #ee2852;
$bg-9: #1e1e1e;
$bg-10: #1e1c1c;
$bg-11: #191516;
$bg-12: #181515;

// Text Color
$txt-color-1: #ffffff;
$txt-color-2: #fafafa;
$txt-color-3: #d2d2d2;
$txt-color-4: #cccccc;
$txt-color-5: #c0c0c0;
$txt-color-6: #bdbdbd;
$txt-color-7: #a6a6a6;
$txt-color-8: #ff4612;
$txt-color-9: #6a6a6a;
$txt-color-10: #606060;
$txt-color-11: #555555;
$txt-color-12: #1e1e1e;
$txt-color-13: #181515;
$txt-color-14: #000000;

// Border Color
$bdr-color-1: #ffffff;
$bdr-color-2: #ececec;
$bdr-color-3: #ebebeb;
$bdr-color-4: #cccccc;
$bdr-color-5: #ff4612;
$bdr-color-6: #1e1e1e;

// Font
$fontFamily: "Roboto", sans-serif;
$txt-1: 4em;
$txt-2: 2.5em;
$txt-3: 2em;
$txt-4: 1.7em;
$txt-5: 1.4em;
$txt-6: 1.2em;
$txt-7: 1em;
$txt-8: 0.9em;
$txt-9: 0.8em;
$txt-10: 0.7em;














